footer {
	background-color: rgba(30, 30, 30); 
	color: white;
	font-weight: bolder;
	text-align: center;
	margin: 0;
	padding: 10px;
	font-size: 14px;
}

footer a {
	color: white;
	text-decoration: none;
	margin: 10px;
}

footer a:hover {
	text-decoration: underline;
}