/*
    Não posso levar mais na cabeça por ter código repetido 
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #d8c8cc;
	margin-top: 50px;
	height: 80%;
}

.headertext {
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
	font-weight: 200;
}

.headertext p {
	padding: 10px;
	text-align: justify;
	backdrop-filter: blur(30px);
	margin: 5px;
}

.navbar {
	background-color: rgba(30, 30, 30);
	color: white;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 6%;
}

.navbar-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 50px;
	font-size: 30px;
}

.navbar-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 5%;
	width: 40%;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
}

.azul {
	background-color: #00ACED;
}

.verde {
	background-color: #00CC83;
}

.laranja {
	background-color: #FF8000;
}