.filme {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 12px;
}

.filme .info {
	min-width: 20%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	font-size: 1.2em;
}

.filme:nth-child(even) .info {
	margin-right: 5%;
}

.filme:nth-child(odd) .info {
	margin-left: 5%;
}

.filme:nth-child(even) {
	flex-direction: row-reverse;
}

.filme img {
	width: 250px;
	height: 350px;
	border-radius: 8px;
	object-fit:scale-down;
}

.info h2 {
	margin-bottom: 10px;
	font-size: 28px;
	color: #000;
}

.info p {
	margin: 6px 0;
	color: #000;
}


img:hover {
	opacity: 1;
	transition: ease-in 150ms;
	scale:1.6;
}