section {
  margin-bottom: 40px;
  border-left: 4px solid #333;
  padding-left: 15px;
}

h2 {
  color: #8B0000;
  border-bottom: 2px solid #333;
  padding-bottom: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  letter-spacing: 1px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
  background-color: #86868637;
  margin-bottom: 15px;
  padding: 15px 20px;
  border-radius: 6px;
  font-size: 1.2em;
  font-family: 'Georgia', serif;
  color: #ddd;
}

strong, a {
  color: #8B0000;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

.ano, .imdb {
  font-style: italic;
  color: #777;
  margin-left: 12px;
  font-size: 0.9em;
}