body {
	padding-top: 40px;
    background-color: #d8c8cc;
}

.headertext {
	font-family: roboto;
	font-size: 25px;
	font-weight: 200;
}
.headertext p {
	padding: 10px;
	text-align: justify;
	backdrop-filter: blur(30px);
	margin: 5px;
}

.navbar
{
	background-color: rgba(30,30,30);
	color: white;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    /*

    */
  	top: 0;
  	left: 0; 
  	right: 0;
	height: 6%;
}

.navbar-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 50px;
	font-size: 30px;
}

.navbar-right {

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 5%;
	width: 40%;
}

a
{
	color: white;
	text-decoration: none;
}